/* page style */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;

  background-color: #fcfbfd;
}

header {
  display: none;
}

.top-nav {
  background-color: #6B801A;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 10;
  transition: 0.5s;
}

.top-nav .logo{
  width: 40%;
}
.top-nav .logo img {
  width: 25%;
  height: auto;
}

.top-nav .logo1 {
  display: none;
}

.top-nav .closebtn {
  display: none;
}

.top-nav ul{
  width: 60%;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: right;
}


.top-nav ul li {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.top-nav ul li:last-child{
  margin-right: 0;
}

.top-nav ul li a {
  text-decoration: none;
  color: white;
}

.top-nav ul li a:hover {
  color: #F8B600;
}

.top-nav .active {
  font-weight: bold;
  color: #F8B600;
}

.hero {
  width: 100%;
  height: 93vh;
  padding: 0;
}

.hero .swiper {
  width: 100%;
  height: 100%;
}

.hero .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hero .heading {
  background-color: rgba(0, 0, 0, 0.6);
  width: 60%;
  z-index: 99;
  color: white;
  position: absolute;
  top: 72%;
  left: 20%;
  padding: 1.5rem;
}

.swiper-button-next, .swiper-button-prev{
  --swiper-navigation-color:white;
}


/* socials style begins here */
.socials {
  position: fixed;
  top: 75%;
  bottom: 0;
  margin-left: 2rem;
  z-index: 56;
}

.socials img {
  height: 4rem;
  width: 4rem;
  transition: 0.2s;
}

.socials img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.3);
  transform: scale(1.3); /* Safari 3-8 */
}

.socials a{
  display: inline-block;
}

.about {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #6B801A;
  color: white;
}

.about .left {
  width: 29%;
}

.about .left .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;

}

.about .left .swiper-slide img{
  width: 100%;
  border: 10px solid white;
}

.about .right {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-left: 9rem;
}

.about .right h2 {
  font-size: 2.3rem;
  margin: 0 0 1.5rem 0;
}

.about .right .right-button {
  width: 55%;
  margin: 1.8rem;
  text-align: center;
  position: relative;
  right: -40%;
}

.about .right a {
  background-color: #F8B600;
  color: white;
  border-radius: 7px;
  text-decoration: none;
  display: block;
  padding: 0.2rem 0;
}

.about .right a:hover{
  background-color: #ffffff;
  color: #6B801A;
}

.produce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}


.produce .top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.produce .top .left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.produce .top .left .left-text p {
  margin: 1rem 0;
}

.produce .top .left .left-head img {
  width: 80%;
}

.produce .top .right {
  display: flex;
  justify-content: center;
  width: 40%;
  position: relative;
}

.produce .top .right img {
  width: 65%;
}

.produce .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
}

.produce .bottom .mission {
  margin: 0 6rem 0 0;
  width: 35%;
  height: 15rem;
  border-left: 2.1rem solid;
  border-left-color: #6B801A;
  border-radius: 23px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.produce .bottom .mission h2 {
  font-size: 2rem;
  color: #6B801A;
}

.produce .bottom .vision {
  margin: 0 0 0 6rem;
  width: 35%;
  height: 15rem;
  border-left: 2.1rem solid;
  border-left-color: #F8B600;
  border-radius: 23px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.produce .bottom .vision h2 {
  font-size: 2rem;
  color: #F8B600;
}

.gallery {
  height: 30rem;
  background: url(../images/gallery_background.png) no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery .swiper-slide {
  width: 20rem;
  height: 17rem;
  margin-right: 3.4rem;
}

.gallery .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}

.gallery .swiper-slide img:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.3);
  transform: scale(1.3); /* Safari 3-8 */
}

.gallery .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.gallery .button {
  width: 20%;
  margin-top: 1.8rem;
  text-align: center;
}

.gallery .button a {
  padding: 0.2rem 0;
  background-color: #6B801A;
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 7px;
}

.gallery .button a:hover {
  background-color: #ffffff;
  color: #6B801A;
}


.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products .head {
  margin: 3rem 0 0 0;
  color: #6B801A;
  font-size: 2rem;
}

.products .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.products .content .left,
.products .content .right {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.products .content .right {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.products .content .left video,
.products .content .right video {
  width: 50%;
  height: 50%;
}

.products .content .middle {
  width: 30%;
  margin: 0 3.3rem;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products .content .middle .button {
  width: 65%;
  padding: 0.2rem;
  margin-top: 2rem;
  background-color: #F8B600;
  text-align: center;
  border-radius: 7px;
  position: relative;
}

.products .content .middle .button a {
  color: white;
  text-decoration: none;
  display: block;
}

.products .content .middle .button:hover {
  background-color: #6B801A;
}


.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partners .head {
  margin: 5rem 0 3rem 0;
  color: #F8B600;
  font-size: 2rem;
}

.partners .content {
  width: 100%;
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 9%;
  grid-template-rows: 7rem 15rem;
  align-items: center;
  justify-content: center;
}


.partners .content div {
  width: 8rem;
  height: 8rem;
  border: 0.8px solid gray;
}

.partners .text {
  width: 40%;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 7rem 2rem 7rem;
  margin-top: 3.5rem;
  background-color: #6B801A;
  color: white;
}

footer .top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
}

footer .top .action {
  width: 40%;
  padding: 0 2rem;
}

footer .top p {
  line-height: 1.5rem;
}

footer .top .action .action-top {
  display: flex;
  flex-direction: row;
}

footer .top .action .action-top .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

footer .top .logo img {
  height: auto;
  width: 80%;
}

footer .top .action .action-top .action-right {
  width: 60%;
}

footer .top .action .action-bottom address {
  font-weight: bold;
  line-height: 1.5rem;
  margin-top: 1rem;
  font-style: normal;
}

footer .top a {
  text-decoration: none;
  color: white;
}

footer .top  a:hover {
  color: #F8B600;
}


footer .top .footer-list {
  width: 20%;
  padding: 0 2rem;
}

footer .top .footer-list ul {
  line-height: 2rem;
  font-weight: bold;
}

footer .top .search {
  width: 30%;
  padding: 0 2rem;
}

footer .top .search form input {
  width: 100%;
  height: 2rem;
  border: 1px solid white;
  border-radius: 0;
  padding: 1rem;
  background: transparent url("../images/icons/search.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: white;
}


footer .bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  border-top: 1px solid white;
  padding-top: 3rem;
}

footer .bottom .copyright {
  width: 70%;
  margin-left: 3.5rem;
}

footer .bottom-nav {
  width: 100%;
  padding: 0.2rem 3%;
  display: flex;
  align-items: center;
  justify-content: right;
}

footer .bottom-nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

footer .bottom-nav ul li a {
  text-decoration: none;
  color: white;
}

footer .bottom-nav ul li a:hover {
  color: #F8B600;
}

footer .bottom-nav .active {
  font-weight: bold;
  color: #F8B600;
}

/* about page styles */
.about-head{
  color: #F8B600;
  padding: 5rem;
  text-align: center;
  font-size: 2rem;
  background-color: aliceblue;
}

.about-content{
  display: flex;
  flex-direction: column;
  padding: 3rem 15rem 6rem 15rem;
  line-height: 2rem;
}

.about-content .top-text{
  padding-bottom: 4rem;
  line-height: 2rem;
}

.about-content .core-values{
  padding-bottom: 4rem;
}


.about-content .core-values .down{
  padding: 1rem 2rem;
}

.about-content .core-values .down ol li{
  list-style-type: circle;
}

.about-content .certifications{
  padding-top: 4rem;
  line-height: 2rem;
}

.about-content .certifications .down{
  padding: 1rem 2rem;
}

.about-content .certifications ul li{
  list-style: circle;
}

.about-content .organogram img{
  width: 100%;
}


/* for bigger screens */
@media screen and (min-width: 1880px) {
  .top-nav ul li {
    width: 15%;
  }

  .about .right {
    width: 40%;
  }

  .about .right .right-button {
    width: 55%;
  }

  .produce .top .left {
    width: 30%;
  }
  .produce .top .right {
    width: 35%;
  }

  .produce .bottom .mission {
    margin: 0 6.9rem 0 0;
    width: 25%;
  }

  .produce .bottom .vision {
    margin: 0 0 0 6.9rem;
    width: 25%;
  }

  footer .top .logo img {
    height: auto;
    width: 50%;
  }

}

/* for mobile phones */
@media screen and (max-width: 768px) {

  header {
    height: 4rem;
    width: 100%;
    position: fixed;
    background: #171717;
    display: inline-block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0.5rem;
    z-index: 8;
  }

  header .logo img {
    position: relative;
    left: 43%;
    height: 100%;
  }

  header .openbtn {
    position: absolute;
    top: 26%;
    right: 45px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }

  .top-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9) !important;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 1rem 0 0 0;
  }

  .top-nav .logo {
    display: none;
  }

  .top-nav .logo1 {
    display: block;
  }

  .top-nav .logo1 img {
    position: absolute;
    right: 45%;
    width: 3.5rem;
    height: 3.5rem;
  }

  .top-nav ul {
    height: 100vh;
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 1.3rem;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
  }

  .top-nav ul li {
    display: block;
    margin: 3rem;
  }

  .top-nav ul li a {
    padding: 0.5rem;
    font-size: 2rem;
    color: rgb(176, 175, 175);
    display: inline-block;
  }

  .top-nav ul li a:hover,
  .top-nav ul li a:focus {
    color: #fcfcfc;
  }

  .top-nav .closebtn {
    display: block;
    position: absolute;
    top: 3%;
    right: 45px;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
  }

  .top-nav .openbtn {
    display: block;
  }

  .hero {
    width: 100%;
    height: 40vh;
    padding: 0;
  }

  /* background video style begins here */
  #bg-video {
    top: 7%;
    left: 0;
  }

  /* background video style ends here */
  .hero .get-started {
    display: none;
  }


  footer .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid gray;
    padding: 2rem 3rem 3rem 3rem;
  }

  footer .bottom .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  footer .bottom-nav {
    display: none;
  }


}